.accordion {
  border-bottom: solid 1px #ccc;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  summary {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: bold;
    list-style-type: none;
    color: #1ea7fd;

    &::-webkit-details-marker {
      display: none;
    }

    > * {
      display: inline; /* so that block level elements don't wrap below marker when there is not enough space */
      margin: 0;
    }

    &::before {
      content: "";
      background: url(../assets/down.svg) no-repeat;
      background-size: 18px;
      background-position: center;
      width: 18px;
      height: 13px;
      display: inline-block;
      vertical-align: 0;
      margin-right: 5px;
      transition: all 0.25s;
    }
  }

  &[open] summary::before {
    transform: rotate(180deg);
  }

  &__content {
    padding-bottom: 0.5rem;

    > *:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
